.Container{ 
    position: fixed;
    border: 1px solid  #969696;
    padding: 20px;
}
h1{
    margin-left: 20px;
    margin-top: 30px;
    font-family: monospace;
    text-align: start;
}
.Tabs{
    margin: 50px 2px;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
}
.Tabs >div{
    padding: 15px;
    height: 30px;
    position: relative;
    margin-left: 4px;
display: flex;
flex-direction: row;
justify-content: space-around;
cursor: pointer;
}

.Tabs >div:hover{ 
background-color: rgb(28, 28, 28);
border-radius: 30px;
}

.Icons{ 
    font-size: 30px;
    margin-top: -7px; 
    
  
}
.Title{ 
    margin-left: 15px;
    text-align: center;
}
.More-Tab{ 
    display: flex;
    margin-left: 23px;
   position: relative;
}
.Title-more{
   position: absolute;
   top: 0px;
   left: 40px;
 
}
